svg {
    height: auto;
    width: 50%;
}

circle {
    fill: none;
    stroke: green;
    stroke-width: 7px;
}

line {
    stroke: black;
    stroke-width: 5px;
}

text {
    font-size: 70px;
    text-anchor: middle;
    font-family: 'FilmotypeMajor';
    stroke: black;
    stroke-width: 2px;
    fill: white;
}

polygon {
    fill: green;
    stroke: black;
    stroke-width: 2px;
}

g > polygon {
    stroke-width:1px;
}